<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tarea1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070F5B2D1C58290900690A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070F5B411C58290900690A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070F5B4C1C58290900690A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
